/**************************
General
***************************/
*{
    margin: 0;
    padding: 0;
    font-family: Handlee;
}

body{
    background-color: #5DC8CD;
}
/**************************
Header: Tile
***************************/
h1{
    font-family: Mystery Quest;
    text-align: center;
    font-size: 6em;
    color: #3F5C9F;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 60%;
}

/**************************
Section: Rules/Game
***************************/
section{
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    margin-top: 80px;
}

#rules{
    letter-spacing: 1.5px;
    line-height: 30px;
    font-size: 1.1em;
    margin-right: 50px;
    margin-bottom: 20px;
    color: #005300;
}

strong{
    font-size: 2.5em;
}

table{
    min-width: 300px;
    border: 20px groove #3F5C9F;
    border-radius: 5px;
    background-color: rgba(250, 250, 250, 0.2);
    color: rgba(0, 83, 0, 1);
}

th{
    background-color: #000;
    color: #3F5C9F;
}

td:first-child, td:last-child, td:nth-child(2n), td:nth-child(3n){
    height: 85px;
    width: 85px;
    background-color: rgba(250, 250, 250, 0.0);
}

.first, .second, .third, .fourth{
    height: 85px;
    width: 85px;
}

.first{
    background-color: crimson;
}
    
.second{
    background-color: purple;
}
    
.third{
    background-color: blue;
}
    
.fourth{
    background-color: green;
}

/**************************
Footer: Reset
***************************/
a{
    text-decoration: none;
}

#btn{
    border-radius: 100%;
    height: 50px;
    width: 90px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: #5DC8CD;
    background-color: rgba(0, 0, 0, 0.8);
    border: 5px double #3F5C9F;
    box-shadow: 0px 5px 0px 2.8px #22AB22;
}

button{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: gray;
  text-decoration: none;
  }