<div id="navbar">
  <a href="#home-container"><img id="nav-logo" src="img/site/Logo.png"></a>
  <figcaption id="menu">Menu</figcaption>
    <ul id="navbar-links">
      <li><a href="#about-container"><span>About</span> <span class="pipe">/</span></a></li>
      <li><a href="#contact-container"><span>Contact</span> <span class="pipe">/</span></a></li>
      <li><a href="#projects-container"><span>Projects</span> <span class="pipe">/</span></a></li>
      <li><a href="#blog-container"><span>Posts</span></a></li>
    </ul>
</div>
