<div id="navbar">
  <a href="#home-container" id="nav-logo">CJ</a>
  <figcaption id="menu">Menu</figcaption>
    <ul id="navbar-links">
      <li><a href="#about-container"><span class="links">About</span> <span class="pipe">/</span></a></li>
      <li><a href="#contact-container"><span class="links">Contact</span> <span class="pipe">/</span></a></li>
      <li><a href="#projects-container"><span class="links">Projects</span> <span class="pipe">/</span></a></li>
      <li><a href="#blog-container"><span class="links">Posts</span></a></li>
    </ul>
</div>
