<div id="projects-container">
  <h2 class="page-heading">Projects</h2>
  <div class="white-container">
    <div id='first-LPC' class="live-projects-container">
      <div class="img-container">
        <a href="https://portabledoc.herokuapp.com"><img src="img/projects/PortableDoc.png"></a>
        <p class="description">RubyonRails: Create Online Docs and acces them anywhere</p>
      </div>
      <div class="img-container">
        <a href="http://codepen.io/cjbeowulf/full/ECkve/"><img src="img/projects/mysterygame.png"></a>
        <p class="description">Codepen: Clickable Mystery game</p>
      </div>
      <div class="img-container">
        <a href="https://microoblog.herokuapp.com"><img src="img/projects/Microblog.png"></a>
        <p class="description">RubyonRails: Write and share posts and converse in the comments</p>
      </div>
    </div>

    <div class="live-projects-container">
      <div class="img-container">
        <a href="http://codepen.io/cjbeowulf/full/VjjzaO/"><img src="img/projects/ponggame.png"></a>
        <p class="description">Codepen: Rebuild classic computer game; Pong</p>
      </div>
      <div class="img-container">
        <a href="https://thinkcomics.herokuapp.com"><img src="img/projects/ThinkComics.png"></a>
        <p class="description">RubyonRails: Store your digital or scanned files of traditional comic book art</p>
      </div>
      <div class="img-container">
        <a href="http://codepen.io/cjbeowulf/full/BzPyrv"><img src="img/projects/brickbreaker.png"></a>
        <p class="description">Codepen: Rebuild classic computer game; Brick Breaker</p>
      </div>
    </div>

    <div class="live-projects-container">
      <div class="img-container">
        <a href="https://tasklly.herokuapp.com"><img src="img/projects/Taskly.png"></a>
        <p class="description">RubyonRails: Manage your daily tasks once there done trash'em</p>
      </div>
      <div class="img-container">
        <a href="http://codepen.io/cjbeowulf/full/bprpGr/"><img src="img/projects/musicbox.png"></a>
        <p class="description">Codepen: Hoverable music boxes</p>
      </div>
      <div class="img-container">
        <a href="https://combatnews.herokuapp.com"><img src="img/projects/combatnews.png"></a>
        <p class="description">RubyonRails: Combat new forum post topic and converse away</p>
      </div>
    </div>

    <div class="live-projects-container">
      <div class="img-container">
        <a href="http://codepen.io/cjbeowulf/full/MeyXKd/"><img src="img/projects/mediaplayer.png"></a>
        <p class="description">Codepen: Build HTML5 media player</p>
      </div>
      <div class="img-container">
        <a href="http://codepen.io/cjbeowulf/full/ezdZYQ/"><img src="img/projects/counter.png"></a>
        <p class="description">Codepen: Simple Counter</p>
      </div>
      <div class="img-container">
        <a href="http://codepen.io/cjbeowulf/full/zrOmjv/"><img src="img/projects/toggleswitch.png"></a>
        <p class="description">Codepen: Toggle switch with transitions</p>
      </div>
    </div>

    <div class="live-projects-container">
      <div class="img-container">
        <a href="http://codepen.io/cjbeowulf/full/nACKo/"><img src="img/projects/contactform.png"></a>
        <p class="description">Codepen: Simple contact form with transforms & transitions</p>
      </div>
      <div class="img-container">
        <a href="http://codepen.io/cjbeowulf/full/gPOrdv/"><img src="img/projects/digitalclock.png"></a>
        <p class="description">Codepen: Classic digital clock</p>
      </div>
      <div class="img-container">
        <a href="http://codepen.io/cjbeowulf/full/dxFGt/"><img src="img/projects/csstrans.png"></a>
        <p class="description">Codepen: CSS transitions/transform/animations</p>
      </div>
    </div>

    <div class="live-projects-container">
      <div class="img-container">
        <a href="http://codepen.io/cjbeowulf/full/EKoBWJ/"><img src="img/projects/tributepage.png"></a>
        <p class="description">Codepen: Tribute site</p>
      </div>
      <div class="img-container">
        <a href="http://codepen.io/cjbeowulf/full/LNQVOg/"><img src="img/projects/simpleport.png"></a>
        <p class="description">Codepen: Simple portfolio sample</p>
      </div>
      <div class="img-container">
        <a href="http://codepen.io/cjbeowulf/full/QGPddv/"><img src="img/projects/reactWeatherApp.png"></a>
        <p class="description">ReactJS: Weather App, generates local weather</p>
      </div>
    </div>

  </div>
</div>
