<div id="projects-container">
    <h2 class="page-heading">Projects</h2>
    <div class="borders">
      <div class="wrapper">
        <div id="live-projects-container">
          <ul id="hosted-projects">
            <li class="img-container">
              <a href="https://portabledoc.herokuapp.com"><img class="imgs" src="img/PortableDoc.png"></a>
              <div class="description-container">
                <p class="description">RoR app(Desktop View): Create Online Docs and acces them anywhere.</p>
              </div>
            </li>
            <li class="img-container">
              <a href="https://microoblog.herokuapp.com"><img src="img/Microblog.png"></a>
              <div class="description-container">
                <p class="description">RoR app(Desktop View): Write posts everyone can read and comment on, while still keeping control of your content.</p>
              </div>
            </li>
            <li class="img-container">
              <a href="https://combatnews.herokuapp.com"><img src="img/combatnews.png"></a>
              <div class="description-container">
                <p class="description">RoR app: Combat news forum post topic on boxing, muay thai, mma, etc. Discuss away in the comment sections. </p>
              </div>
            </li>
            <li class="img-container">
              <a href="https://thinkcomics.herokuapp.com"><img class="imgs" src="img/ThinkComics.png"></a>
              <div class="description-container">
                <p class="description">RoR app(Desktop View): You can store digital or scanned files of traditional comic book art.</p>
              </div>
            </li>
            <li class="img-container">
              <a href="https://tasklly.herokuapp.com"><img src="img/Taskly.png"></a>
              <div class="description-container">
                <p class="description">RoR app: Manage your daily tasks simply add them on taskly once they are done check'em off and trash</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
