<div id="projects-container">
    <h2 class="page-heading">Projects</h2>
    <div class="borders">
      <div class="wrapper">
        <div id="live-projects-container">
          <ul id="hosted-projects">
            <li class="img-container">
              <a href="https://portabledoc.herokuapp.com"><img src="img/projects/PortableDoc.png"></a>
              <p class="description">RubyonRails: Create Online Docs and acces them anywhere</p>
            </li>
            <li class="img-container">
              <a href=""><img src="img/projects/mysterygame.png"></a>
              <p class="description">Codepen: Clickable Mystery game</p>
            </li>
            <li class="img-container">
              <a href="https://microoblog.herokuapp.com"><img src="img/projects/Microblog.png"></a>
              <p class="description">RubyonRails: Write and share posts and converse in the comments</p>
            </li>
            <li class="img-container">
              <a href=""><img src="img/projects/ponggame.png"></a>
              <p class="description">Codepen: Rebuild classic computer game; Pong</p>
            </li>
            <li class="img-container">
              <a href="https://thinkcomics.herokuapp.com"><img src="img/projects/ThinkComics.png"></a>
              <p class="description">RubyonRails: Store your digital or scanned files of traditional comic book art</p>
            </li>
            <li class="img-container">
              <a href=""><img src="img/projects/brickbreaker.png"></a>
              <p class="description">Codepen: Rebuild classic computer game; Brick Breaker</p>
            </li>
            <li class="img-container">
              <a href="https://tasklly.herokuapp.com"><img src="img/projects/Taskly.png"></a>
              <p class="description">RubyonRails: Manage your daily tasks once there done trash'em</p>
            </li>
            <li class="img-container">
              <a href=""><img src="img/projects/musicbox.png"></a>
              <p class="description">Codepen: Hoverable music boxes</p>
            </li>
            <li class="img-container">
              <a href="https://combatnews.herokuapp.com"><img src="img/projects/combatnews.png"></a>
              <p class="description">RubyonRails: Combat new forum post topic and converse away</p>
            </li>
            <li class="img-container">
              <a href=""><img src="img/projects/mediaplayer.png"></a>
              <p class="description">Codepen: Build HTML5 media player</p>
            </li>
            <li class="img-container">
              <a href=""><img src="img/projects/counter.png"></a>
              <p class="description">Codepen: Simple Counter</p>
            </li>
            <li class="img-container">
              <a href=""><img src="img/projects/toggleswitch.png"></a>
              <p class="description">Codepen: Toggle switch with transitions</p>
            </li>
            <li class="img-container">
              <a href=""><img src="img/projects/contactform.png"></a>
              <p class="description">Codepen: Simple contact form with transforms & transitions</p>
            </li>
            <li class="img-container">
              <a href=""><img src="img/projects/digitalclock.png"></a>
              <p class="description">Codepen: Classic digital clock</p>
            </li>
            <li class="img-container">
              <a href=""><img src="img/projects/csstrans.png"></a>
              <p class="description">Codepen: CSS transitions/transform/animations</p>
            </li>
            <li class="img-container">
              <a href=""><img src="img/projects/tributepage.png"></a>
              <p class="description">Codepen: Tribute site</p>
            </li>
            <li class="img-container">
              <a href=""><img src="img/projects/simpleport.png"></a>
              <p class="description">Codepen: Simple portfolio sample</p>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
