<main id="projectsContainer">
  <div class="listContainer">
    <h2>Projects</h2>
    <ul class="data-listing">
      {% for project in site.data.projects.projects %}
        <a href="{{ project.link }}" target="_blank">
          <li>
            <div class="imgContainer">
              <!-- Title -->
              <div class="titles">
                <h4>{{ project.title }}</h4>
              </div>

              <!-- Img -->
              <img src="{{ project.image }}">

              <!-- Desc -->
              <div class="descriptions">
                <p>{{ project.description }}</p>
              </div>
            </div>
          </li>
        </a>
      {% endfor %}
    </ul>
  </div>
</main>
