<main id="snippetsContainer">
  <div class="listContainer">
    <h2>Snippets</h2>
    <ul class="data-listing">
      {% for snippet in site.data.snippets.snippets %}
        <a href="{{ snippet.link }}" target="_blank">
          <li>
            <div class="imgContainer">
              <!-- Title -->
              <div class="titles">
                <h4>{{ snippet.title }}</h4>
              </div>

              <!-- Img -->
              <img src="{{ snippet.image }}">

              <!-- Desc -->
              <div class="descriptions">
                <p>{{ snippet.description }}</p>
              </div>
            </div>
          </li>
        </a>
      {% endfor %}
    </ul>
    <div id="seeMore">
      <a href="https://codepen.io/charliejaime" target="_blank"><button type="Sumbit">See More</button></a>
    </div>
  </div>
</main>
