
// Projects: Media query
@include media-query($on-palm){
  #hosted-projects li{
    margin-left: 0;
  }

  .img-container{
    width: 250px;
  }

  .img-container:hover{
    transform: scale(1.00);
    transition-property: all;
    transition-duration: 1s;
  }

  .img-container img{
    height: 150;
    width: 250px;
  }

}
