/********
General
********/
#home-container,
#about-container,
#contact-container,
#projects-container,
#blog-container{
  padding-top: 12%;
  padding-bottom: 12%;
  color: $text-color;
}

#navbar,
#homeheader,
.description-container,
.social-media-list{
  font-family: $sub-font-family;
}

.page-heading {
    font-size: 42px;
    text-align: center;
}

.white-container{
  background-color: white;
  color: $background-color;
}

.site-footer {
    color: $text-color;
    text-align: center;
}

.borders{
  border-top: 2px solid $text-color;
  border-bottom: 2px solid $text-color;
}

/********
Navbar
********/
#navbar{
  width: 100%;
  position: fixed;
  background-color: black;
  text-align: center;
  border-bottom: 0.5px solid $text-color;
  font-size: 1.5em;
}

#nav-logo{
  height: 40px;
  width: 40px;
  float: left;
  margin-left: 1%;
}

#navbar-links li{
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

#navbar-links span:hover{
  color: $background-color;
  background-color: $text-color;
  border-radius: 5%;
}


/********
Homepage
********/
#home-container{
  width: 100%;
  text-align: center;
  padding-bottom: 12%;

  h1{
    font-size: 3em;
  }
}

#home-logo{
  height: 500px;
  width: 500px;
  margin: 0 auto;
}


/********
About
********/
#idpic,
#about-p{
  display: inline;
}

#idpic{
  float: left;
  border-radius: 2%;
  height: 250px;
  width: 250px;
  clear: right;
  // margin-left: 30px;
}

#about-p{
  text-align: justify;
  float: left;

}

/********
Contact
********/
#contact-container .white-container{
  height: 400px;
  width: 100%;
}
.social-media-list{
  list-style: none;
  text-align: center;
  vertical-align: center;
  padding-top: 10%;
}

.social-media-list li{
  display: inline-block;
  margin-left: 5%;

  #email-icon{
    margin-left: 0;
  }
}

.icon {

    > svg {
        width: 100px;
        height: 100px;
        // border-radius: 35%;

        path {
            fill: $background-color;
        }
    }
}

.icon {

    > svg:hover {
        transform: scale(1.10);
        transition-property: all;
        transition-duration: 1s;
        background-color: $background-color;
        border-radius: 35%;

        path {
            fill: $text-color;
        }
    }
}

/********
Projects
********/
#live-projects-container{
  width: 100%;
  height: 650px;
  overflow: scroll;
}

#hosted-projects{
  list-style-type: none;
}

.img-container img{
  height: 200px;
  width: 400px;
}

/********
Posts
********/
#posts-container{
  width: 100%;
  height: 650px;
  overflow: scroll;
}

.post{
  background-color: $text-color;
  padding-top: 12%;
  padding-left: 10px;
  padding-right: 10px;
}


.post-list {
    padding-top: 5%;
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        border-bottom: 2px solid $text-color;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: lighten($background-color, 20%);
}

.post-link {
    display: block;
    font-size: 26px;
}

.post-link:hover{
  text-shadow: 1px 1px 2px $text-color;
}

.post-header {
    margin-bottom: $spacing-unit;
    color: $brand-color;
}

.post-title {
    color: $brand-color;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    color: $brand-color;
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        color: $brand-color;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
