/********
General
********/
*{
  color: $text-color;
}

/********
Navbar
********/
#navbar{
  width: 100%;
  position: fixed;
  background-color: black;
  text-align: center;
  border-bottom: 0.5px solid $text-color;
  font-size: 1.5em;
}

#nav-logo{
  height: 40px;
  width: 40px;
  float: left;
  margin-left: 1%;
}

#navbar-links li{
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

#navbar-links span:hover{
  color: $background-color;
  background-color: $text-color;
  border-radius: 5%;
}
/********
Homepage
********/
#home-container{
  width: 100%;
  text-align: center;
}

#home-logo{
  height: 500px;
  width: 500px;
  margin: 0 auto;
}
/********
About
********/


/********
Contact
********/


/********
Projects
********/


/********
Posts
********/
