/********
General
********/

// spacing bewteen divs
#home-container,
#about-container,
#contact-container{
  padding-top: 12%;
  padding-bottom: 12%;
  color: $text-color;
}

#blog-container{
  padding-bottom: 2%;
}

#projects-container,
#blog-container{
  padding-top: 4%;
  padding-bottom: 12%;
  color: $text-color;
}

// Fonts: size alignment
#navbar,
#homeheader,
.description-container,
.social-media-list{
  font-family: $sub-font-family;
}

.page-heading {
    font-size: 42px;
    text-align: center;
}

// white background and borders
.white-container{
  background-color: lighten($background-color, 10%);
}

// Scrollbar
#posts-container::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: $background-color;
}

#posts-container::-webkit-scrollbar{
  width: 12px;
  background-color: $text-color;
}

#posts-container::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: $text-color;
}

@include media-query($on-palm){
  #home-container,
  #about-container,
  #contact-container,
  #projects-container,
  #blog-container{
    padding-top: 20%;
  }
}

/********
Navbar
********/
#navbar{
  width: 100%;
  position: fixed;
  background: rgba(76, 84, 103, 0.9);
  text-align: center;
  border-bottom: 5px double $brand-color;
  font-size: 1.5em;
}

#nav-logo{
  height: 35px;
  width: 35px;
  float: left;
  margin-left: 1%;
  vertical-align: middle;
  padding-top: 0.6%;
}

#menu{
  display: none;
}

#navbar-links li{
  display: inline-block;
  list-style: none;
  padding-top: 0.7%;
}

.links{
  color: #fff;
}

.pipe{
  color: darken($background-color, 10%);
}

#navbar-links .links:hover{
  color: darken($background-color, 10%);
  border-radius: 5%;
}

@include media-query($on-palm){
  #nav-logo{
    float: none;
    margin: 0 auto;
  }

  #menu{
    display: block;
    color: $text-color;
  }

  #navbar{
    border: none;
  }

  #navbar-links{
    display: none;
  }

  #navbar-links .pipe{
    display: none;
  }

  #navbar:hover #navbar-links{
    display: block;
  }
}


/********
Homepage
********/
#home-container{
  width: 100%;
  height: 100%;
  text-align: center;
  // background-image: url('/img/site/workspace.jpg');
  // background-size: cover;
  background-color: $text-color;

  h1{
    padding-top: 13%;
    font-size: 4em;
    color: #fff;
  }

  h3{
    color: #fff;
    font-size: 1.2em;
  }
}

@include media-query($on-palm){
    #home-logo{
      height: 100px;
      width: 100px;
      padding-top: 15%;
    }

    #home-container{
      padding-bottom: 20%;
      background-image: none;
      background-color: $text-color;
    }
  }


/********
About
********/
#about-container{
  background: -webkit-linear-gradient(#4c5567, #D5D5D5) no-repeat;
  background: -moz-linear-gradient(#4c5567, #D5D5D5) no-repeat;
  background: -o-linear-gradient(#4c5567, #D5D5D5) no-repeat;
  color: #fff;
}

#about-container .white-container{
  padding-top: 5%;
  padding-bottom: 5%;
}

#idpic,
#about-p{
  display: inline;
  padding-bottom: 10px;
  padding-top: 10px;
  color: $text-color;
}

#idpic{
  float: right;
  border-radius: 10%;
  height: 350px;
  width: 290px;
}

#about-p{
  text-align: justify;
  float: left;
  width: 65%;
}

@include media-query($on-palm){
  #about-p{
    width: 100%;
    text-align: justify;
    clear: both;
  }

  #picDiv{
    text-align: center;
    margin: 0 auto;
  }
}


/********
Contact
********/
#contact-container .white-container{
  height: 400px;
  width: 100%;
}

.social-media-list{
  list-style: none;
  text-align: center;
  vertical-align: center;
  padding-top: 10%;
}

.social-media-list li{
  display: inline-block;
  margin-left: 5%;
}

#email-icon{
  margin-left: 0;
}

.icon {

    > svg {
        width: 100px;
        height: 100px;

        path {
            fill: $text-color;
        }
    }
    // media query
    @include media-query($on-palm){
      svg {
        width: 50px;
        height: 50px;
      }
    }
}

.icon {

    > svg:hover {
        transform: scale(1.06);
        transition-property: all;
        transition-duration: 1s;
        background-color: $text-color;
        border-radius: 20%;

        path {
            fill: lighten($background-color, 10%);
        }
    }
}

// Contact: media query
@include media-query($on-palm){
    #contact-container .white-container{
      height: 200px;
    }

    .social-media-list li{
      margin-left: 0;
    }
  }


/********
Projects
********/
.live-projects-container{
  display: flex;
}

#first-LPC{
  padding-top: 10px;
}

.img-container{
  flex-grow: 1;
  margin-right: 10px;
  background-color: $brand-color;
  margin-bottom: 10px;

  img{
    border-radius: 1%;
    border-bottom: 3px solid $brand-color;
  }

  .description{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

@include media-query($on-palm){
  .live-projects-container{
    flex-wrap: wrap;
  }
}

/********
Posts
********/
#posts-container{
  width: 100%;
  height: 650px;
  overflow-y: scroll;
}

.post{
  background-color: lighten($background-color, 10%);
  padding-top: 12%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.05em;
}

@include media-query($on-palm){
  .post{
    padding-top: 20%;
  }
}

.post-list {
    padding-top: 3%;
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        border-bottom: 2px solid $text-color;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $brand-color;
}

.post-link {
    display: block;
    font-size: 26px;
}

.post-link:hover{
  text-shadow: 2px 2px 3px $brand-color;
}

.post-header {
    margin-bottom: $spacing-unit;
    color: $brand-color;
}

.post-title {
    color: $text-color;
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    color: $text-color;
    margin-bottom: $spacing-unit;

    a{
      color: $brand-color;
    }

    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        color: $brand-color;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/********
Footer
********/
.site-footer {
    color: $text-color;
    text-align: center;
}

.site-footer .social-media-list{
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0 auto;
}

.site-footer .social-media-list li{
  margin-left: 0;
}
.site-footer .social-media-list .icon {

    > svg {
        width: 50px;
        height: 50px;

        path {
            fill: $text-color;
        }
    }

    > svg:hover{
      path{
        fill: lighten($background-color, 10%);
      }
    }
}


.icon--rss{
  > svg{
    width: 30px;
    height: 30px;
  }
}
