/******
General colors
******/
body{
  color: black;
}

#projectsContainer,
#snippetsContainer,
#postsContainer{
  a{
    color: #A6775B;
  }
  a:visited{
    color: $dg;
  }
  a:hover{
    color: darken($db, 10%);
  }
}

/******
Header colors
******/
.navbar{
  // background-color: rgba(241, 238, 232, 0.8);
  a{
    color: whitesmoke;
  }
  a:visited{
    color: white smoke;
  }
  a:hover{
    color: #A6775B;
  }
}

#banner{
  color: whitesmoke;
}

@include media-query($on-palm){
  #banner{
    color: black;
  }
}

/******
Snippets colors
******/
button{
  background-color: #A6775B;
  color: white;
}

button:hover{
  background-color: darken($db, 10%);
}

/******
Posts colors
******/
.post-list p{
  color: black;
}
