/******
General colors
******/
body{
  color: $dg;
}

/******
Header colors
******/
#navbar{
  // background-color: rgba(241, 238, 232, 0.9);
  background-color: $lg;
}

#banner{
  color: white;
}

/******
Projects colors
******/
#projectsContainer{}

/******
Snippets colors
******/
#snippetsContainer{}

/******
About colors
******/


/******
Posts colors
******/


/******
Footer colors
******/
