/******
General colors
******/
body{
  color: $dg;
}

#projectsContainer,
#snippetsContainer,
#postsContainer{
  a{
    color: $dg;
  }
  a:visited{
    color: $dg;
  }
  a:hover{
    color: $lb;
  }
}
/******
Header colors
******/
#navbar{
  background-color: rgba(241, 238, 232, 0.8);
  // background-color: $lg;
  a:visited{
    color: $dg;
  }
  a:hover{
    color: $lb;
  }
}

#banner{
  color: white;
}

/******
Projects colors
******/
#projectsContainer{}

/******
Snippets colors
******/

/******
About colors
******/


/******
Posts colors
******/
.post-list p{
  color: $mg;
}

/******
Footer colors
******/
