/********
General Styles
********/
a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.sectionTitle{
  // text-align: center;
  color: darken($db, 10%);
  font-size: 3em;
}

#projectsContainer,
#snippetsContainer,
#postsContainer{
  padding-top: 15%;
}

#aboutContainer{
  padding-top: 20%;
}

#postsContainer{
  padding-bottom: 5%;
}

#footerContainer{
  padding: 20px;
}

@include media-query($on-palm){
  #projectsContainer,
  #snippetsContainer,
  #aboutContainer,
  #postsContainer{
    padding-top: 20%;
  }
}

#projectsContainer p,
#snippetsContainer p,
#aboutContainer p,
#postsContainer p{
  font-family: $sub-font-family;
  letter-spacing: 0.8px;
}

#aboutContainer,
#postsContainer{
  width: 70%;
  margin: 0 auto;
}

.imgContainer{
  max-width: 400px;
  max-height: 500px;
  border-radius: 5%;
  position: relative;
  margin-bottom: 8%;

  img{
    width: 90%;
    height: 0%;
    display: block;
    border-radius: 5%;
    box-shadow: 10px 10px 5px $mg;
  }
}

.data-listing{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // flex-direction: row;
}

.titles{
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  transition: .5s;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 50%;

  h4{
    color: black;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 70px;
    font-size: 3em;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.descriptions{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .5s;

  p{
    color: black;
    width: 90%;
    font-size: 1.3em;
    position: absolute;
    top: 100%;
    left: 50%;
    opacity: 0;
    transform: translate(-45%, -45%);
  }
}

.imgContainer:hover .titles {
  opacity: 0;
}
.imgContainer:hover .descriptions p {
  transition-property: all;
  transition-duration: 1s;
  top: 40%;
  opacity: 1;
  color:black;
}
.imgContainer:hover .descriptions {
  width: 90%;
  border-radius: 5%;
  background-color: rgba(241, 238, 232, 0.9);
  border-bottom: 2px solid $lb;
}

@include media-query($on-palm){
  .titles{
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    transition: .5s;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;

    h4{
      color: $lb;
      width: 100%;
      padding-top: 85px;
      padding-bottom: 86px;
      font-size: 2.5em;
      position: absolute;
      top: 52.5%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      // background-color: rgba(241, 238, 232, 0.6);
    }
  }
}
@include media-query($on-xs){
  .imgContainer{
    margin-bottom: 10%;
  }

  .titles{
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    transition: .5s;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 50%;

    h4{
      color: $lb;
      width: 100%;
      padding-top: 130px;
      padding-bottom: 70px;
      font-size: 1.8em;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      // background-color: rgba(241, 238, 232, 0.6);
    }
  }
}

/********
Header Styles
********/
#homeContainer{
  height: 100vh;
  text-align: center;
  background-image: url('/img/site/bulb.jpg');
  background-size: cover;

  h1{
    padding-top: 13%;
    font-size: 4em;
  }

  h2{
    font-size: 1.2em;
  }

}

@include media-query($on-palm){
  #homeContainer{
    height: 100vh;
    background-image: none; 
    background-size: none;
    background-color: #A6775B;
  }
}

.navbar{
  width: 100%;
  text-align: center;
  position: fixed;
  border-bottom: 2px solid #A6775B;
  background-color: rgba(black, 0.8);
  z-index: 1;

  a{
    font-size: 1.2em;
  }
}

.navbar ul li{
  display: inline-block;
  padding: 0 6% 0 6%;
}

@include media-query($on-xs){
  .navbar ul li{
    display: inline-block;
    padding: 0 3% 0 3%;
  }
}

#home-icon{
  width: 50px;
  height: 50px;
  margin-bottom: -20%;
}

#banner{
  width: 100%;
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// ? Test typing css
// TODO Understand how this code was created in Codepen
:root {
  --bg-color: #261F1C;
  --typewriterSpeed: 6s;
  --typewriterCharacters: 19;
}

#cursor {
  position: relative;
  font-family: "Source Code Pro", monospace;
  position: relative;
  width: max-content;
}

#cursor::before,
#cursor::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#cursor::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

#cursor::after {
  width: 0.125em;
  background: whitesmoke;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

hr{display: none;}

#arrows svg{
  display: none;
}

@include media-query($on-palm){
  #banner{
    padding-top: 15%;

    h1{
      margin-bottom: -10px;
    }

    h2{
      padding-bottom: 20%;
    }

    hr{
      display: block;
      width: 50%;
      border: 2px solid $lg;
    }

    #arrows svg{
      padding: 4%;
      display: block;
      height: 50px;
      width: 50px;
      fill: $dg;
    }
  }
}

/********
MobileNav Styles
********/
@include media-query($on-palm){
  #projects-icon,
  #snippets-icon,
  #about-icon,
  #posts-icon{
    > svg {
        width: 30px;
        height: 30px;


        path {
            fill: $mg;
        }
    }
  }

  #Icons_User > g > circle{
  fill: $mg;
  }

  #Layer_1 polygon{
    fill: $mg;
  }
}

#mobileNav{
  display: none;
}

@include media-query($on-palm){
  #desktopNav{
    display: none;
  }

  #mobileNav{
      display: block;
  }
}


/********
Snippets Styles
********/
#seeMore{
  text-align: center;
  margin: 0 auto;
}

button{
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 2%;
  font-family: $base-font-family;
}

/********
About Styles
********/
#socialContainer{
 text-align: center;
}

#socialList li{
  display: inline-block;
  padding: 5%;
  text-align: center;
}

#socialList .icon {
  > svg{
      padding: 4px;
      width: 60px;
      height: 60px;

    path{
      fill: #A6775B;
    }
  }

  @include media-query($on-palm){
      svg {
        width: 50px;
        height: 50px;
      }
    }
}

#socialList .icon {
    > svg:hover {
        transform: scale(1.05);
        transition-property: all;
        transition-duration: 1s;
        background-color: darken($db, 10%);
        border-radius: 20%;

        path {
            fill: lighten(white, 10%);
        }
    }
}

 #resume-icon svg{
  height: 40px;
  width: 40px;
}

/********
Posts Styles
********/
#innerPostsContainer{
  overflow: scroll;
  height: 600px;
  border-bottom: 2px solid $lb;
}

body > main > div > article{
  padding-top: 12%;
}

@include media-query($on-palm){
  body > main > div > article{
    padding-top: 25%;
  }
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-list{
  h3{
    font-family: $base-font-family;
  }
}

.post-content {
  font-family: $sub-font-family;
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/********
Footer Styles
********/
.footerList{
  text-align: center;
  vertical-align: middle;
}

.footerList li{
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

#footerContainer .icon {
    > svg {
        width: 50px;
        height: 50px;

        path {
            fill: #A6775B;
        }
    }

    > svg:hover{
      path{
        fill: darken($db, 10%);
      }
    }
}
