/********
General Styles
********/
a{
  text-decoration: none;
}

ul{
  list-style: none;
}

#projectsContainer,
#snippetsContainer,
#aboutContainer,
#postsContainer{
  padding-top: 10%;
  padding-bottom: 10%;
}

@include media-query($on-palm){
  #projectsContainer,
  #snippetsContainer,
  #aboutContainer,
  #postsContainer{
    padding-top: 20%;
  }
}

#projectsContainer p,
#snippetsContainer p,
#aboutContainer p,
#postsContainer p{
  font-family: $sub-font-family;
  letter-spacing: 0.8px;
}

.imgContainer{
  max-width: 400px;
  max-height: 500px;
  padding-left: 5%;

  img{
    width: 100%;
    height: auto;
  }
}

.data-listing{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

/********
Header Styles
********/
#homeContainer{
  height: 100vh;
  text-align: center;
  background-image: url('/img/site/unsplash1.jpg');
  background-size: cover;

  h1{
    padding-top: 13%;
    font-size: 4em;
  }

  h2{
    font-size: 1.2em;
  }

}

@include media-query($on-palm){
  #homeContainer{
    background-image: none;
    background-size: none;
  }
}

.navbar{
  width: 100%;
  text-align: center;
  position: fixed;
  border-bottom: 2px solid $lb;

  a{
    font-size: 1.2em;
  }
}

.navbar ul li{
  display: inline-block;
  padding: 0 6% 0 6%;
}

@include media-query($on-xs){
  .navbar ul li{
    display: inline-block;
    padding: 0 3% 0 3%;
  }
}

#home-icon{
  width: 40px;
  height: 40px;
  margin-bottom: -20%;
}

#banner{
  width: 100%;
  clear: both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@include media-query($on-palm){
  #banner{
    padding-top: 15%;
  }
}

/********
MobileNav Styles
********/
@include media-query($on-palm){
  #projects-icon,
  #snippets-icon,
  #about-icon,
  #posts-icon{
    > svg {
        width: 30px;
        height: 30px;


        path {
            fill: $mg;
        }
    }
  }

  #Icons_User > g > circle{
  fill: $mg;
  }

  #Layer_1 polygon{
    fill: $mg;
  }
}

#mobileNav{
  display: none;
}

@include media-query($on-palm){
  #desktopNav{
    display: none;
  }

  #mobileNav{
      display: block;
  }
}

/********
Projects Styles
********/


/********
Snippets Styles
********/
#seeMore{
  text-align: center;
  margin: 0 auto;
}

button{
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 2%;
  font-family: $base-font-family;
}

/********
About Styles
********/
#socialContainer{
 text-align: center;
}

#socialList li{
  display: inline-block;
  padding: 5%;
  text-align: center;
}

#socialList .icon {
  > svg{
      padding: 4px;
      width: 60px;
      height: 60px;

    path{
      fill: $lb;
    }
  }

  @include media-query($on-palm){
      svg {
        width: 50px;
        height: 50px;
      }
    }
}

#socialList .icon {
    > svg:hover {
        transform: scale(1.05);
        transition-property: all;
        transition-duration: 1s;
        background-color: $db;
        border-radius: 20%;

        path {
            fill: lighten(white, 10%);
        }
    }
}

 #resume-icon svg{
  height: 40px;
  width: 40px;
}

/********
Posts Styles
********/
#innerPostsContainer{
  overflow: scroll;
  height: 500px;
  border-bottom: 2px solid $lb;
}

body > main > div > article{
  padding-top: 12%;
}

@include media-query($on-palm){
  body > main > div > article{
    padding-top: 25%;
  }
}

.post-header {
  margin-bottom: $spacing-unit;
}

.post-list{
  h3{
    font-family: $base-font-family;
  }
}

.post-content {
  font-family: $sub-font-family;
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/********
Footer Styles
********/
.footerList{
  text-align: center;
  vertical-align: middle;
}

.footerList li{
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

#footerContainer .icon {
    > svg {
        width: 50px;
        height: 50px;

        path {
            fill: $lb;
        }
    }

    > svg:hover{
      path{
        fill: darken($db, 10%);
      }
    }
}
