// /********
// General Styles
// ********/
a{
  text-decoration: none;
}

ul{
  list-style: none;
}

/********
About Styles
********/
#aboutContainer .icon {
  > svg{
      width: 100px;
      height: 100px;

    path{
      fill: black;
    }
  }
}

#aboutContainer .icon {
    > svg:hover {
        transform: scale(1.06);
        transition-property: all;
        transition-duration: 1s;
        background-color: black;
        border-radius: 20%;

        path {
            fill: lighten(white, 10%);
        }
    }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/********
Footer Styles
********/
#footerContainer .icon {
    > svg {
        width: 50px;
        height: 50px;

        path {
            fill: black;
        }
    }

    > svg:hover{
      path{
        fill: lighten(grey, 10%);
      }
    }
}
